body
  {
    background-color: darkgreen;
  }

#headarea
{
  width: 99%;
  //background-color: darkgreen;
  background-color: darkpink;
  color: springgreen;
  height: 19%;
  //border: dotted;
}

#upper
{
  width: 99%;
  //border: solid 1px;
  height: 60%;
  background-color: #eefff6;
}

#upperl
{
  width: 99%;
  //border: solid 1px;
  //height: 60%;
  background-color: #eefff6;
}

#logsum
{
    width: 65%;
    float: left;
    font-size: 18pt;
}

#teamsum
{
  width: 35%;
  float: right;
}

#entarea
{
  width: 99%;
  background-color: #eefff6;
  float: bottom;
  //border: dotted;
  height: 20%;
}

table
  {
     background-color: #ddffee;
     color: #442211;
     font-family: Verdana, Arial, Helvetica, sans-serif;
  }

td
  {
     background-color: #eefff6;
     text-align: center;
     font-size: 8pt;
  }

td.full
  {
     background-color: #eefff6;
     text-align: center;
     font-size: 12pt;
  }

td.note
  {
     background-color: #eefff6;
     text-align: left;
  }

td.warn
  {
     background-color: #ffccdd;
     color: black;
  }

td.late
  {
     background-color: #ff99aa;
     color: black;
  }

th
  {
    background-color: navy;
    color: white;
  }

th.date
  {
    background-color: mediumblue;
    color: skyblue;
  }


h1
  {
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
  }
h2
  {
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
  }

h3
  {
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
  }

a
  {
     font-family: Verdana, Arial, Helvetica, sans-serif;
     color: black;
  }

a.menu
  {
     font-size: 16pt;
     margin: 10px;
  }

a:hover
  {
    background-color: firebrick;
    color: pink;
  }
