body
  {
    background-color: darkgreen;
  }

#headarea
{
  width: 99%;
  background-color: darkgreen;
  color: springgreen;
  height: 19%;
  //border: dotted;
}

#freqarea
{
  width: 25%;
  float: right;
  background-color: transparent
  color: lawngreen;
  height: 19%;
  //border: dotted;
  font-size: 8pt;
  font-family: Verdana, Arial, Helvetica, sans-serif
}

#hintarea
{
  width: 25%;
  float: left;
  background-color: transparent
  color: lawngreen;
  height: 19%;
  //border: dotted;
  font-size: 8pt;
  font-family: Verdana, Arial, Helvetica, sans-serif
}

#upper
{
  width: 99%;
  //border: solid 1px;
  height: 60%;
  background-color: #eefff6;
}

#uppermenu
{
  width: 99%;
  //border: solid 1px;
  height: 90%;
  background-color: #eefff6;
}

#upperl
{
  width: 99%;
  //border: solid 1px;
  //height: 60%;
  background-color: #eefff6;
}

#logsum
{
    width: 65%;
    float: left;
    font-size: 18pt;
}

#teamsum
{
  width: 35%;
  float: right;
}

#entarea
{
  width: 99%;
  background-color: #eefff6;
  float: bottom;
  //border: dotted;
  height: 20%;
}

table
  {
     background-color: #ddffee;
     color: #442211;
     font-family: Verdana, Arial, Helvetica, sans-serif;
  }

td
  {
     background-color: #eefff6;
     text-align: center;     font-size: 8pt;
  }

td.full
  {
     background-color: #eefff6;
     text-align: center;
     font-size: 12pt;
  }

td.note
  {
     background-color: #eefff6;
     text-align: left;
  }

td.warn
  {
     background-color: #ffccdd;
     color: black;
  }

td.late
  {
     background-color: #ff99aa;
     color: black;
  }

td.stage
  {
     background-color: #aaffaa;
     color: gray;
  }

td.net
  {
     background-color: #0000dd;
     color: white;
  }

td.l
  {
      text-align: left;
  }

th
  {
    background-color: 003000;
    color: white;
  }

th.date
  {
    background-color: #006000;
    color: 99ff99;
  }

th.r
  {
    text-align: right;
    padding-right: 1em;
    padding-left: 1em;
  }

h1
  {
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
  }
h2
  {
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
  }

h3
  {
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
  }

a
  {
     font-family: Verdana, Arial, Helvetica, sans-serif;
     color: black;
  }

a.menu
  {
     font-size: 16pt;
     margin: 10px;
  }

a.menub
  {
     font-size: 16pt;
     font-weight: 800;
     color: red;
     margin: 10px;
  }

a:hover
  {
    background-color: firebrick;
    color: pink;
  }

td.menubold
  {
    color: saddlebrown;
    font-weight: bold;
    font-size: 16pt;
  }

p.announce
  {
      color: saddlebrown;
      margin: 1em 2em 1em 2em;
      font-family: Lucidia Typewriter, fixed, swiss, sans;
  }
