table
  {
     background-color: #548b54;
     color: #2e8b57;
     font-family: Verdana, Arial, Helvetica, sans-serif;
  }

td
  {
     background-color: mintcream;
     text-align: center;
  }
td.note
  {
     background-color: mintcream;
     text-align: left;
  }
td.warn
  {
     background-color: #ffb6c1;
     color: black;
  }
th
  {
    background-color: #698b22;
    color: white;
  }

th.date
  {
    background-color: #2e8b57;
    color: white;
  }


h1
  {
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
  }
h2
  {
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
  }

